<!DOCTYPE html>
<html>
  <head>
    <title><%= @app_name.humanize %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="<%= @app_name.camelize(:lower) %>">
    <ui-view></ui-view>
  </body>
</html>
