<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Workout App" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="workout">
    <% if !flash[:notice].blank? %>
      <div class="success callout" data-closable>
        <%= flash[:notice] %>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <% if !flash[:warning].blank? %>
      <div class="alert callout" data-closable>
        <%= flash[:warning] %>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <div class="grid-container">
      <div ng-include="'views/_nav.html'"></div>
      <div class="grid-x grid-padding-x text-center">
          <div class="cell">
            <ui-view></ui-view>
          </div>
      </div>
    </div>
  </body>
</html>
